<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.axcheb.saigaktiming">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".AndroidApplication"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SaigakTiming">
        <service
            android:name=".service.BluetoothSerialBoardService"
            android:enabled="true"
            android:exported="false"/>
        
        <activity
            android:name=".ui.finish.FinishActivity"
            android:noHistory="true" />
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>